#set ( $basepath = "sql/base/$targetDatabase" )
#set ( $fname= "sql/base/$targetDatabase/table.vm" )
#set ( $fnamekeys= "sql/base/$targetDatabase/tablefk.vm" )
#set ( $idname = "sql/id-table/idtable.$targetDatabase" )

#foreach ($database in $dataModels)

  #set ( $platform = $database.Platform )
  
  Platform used: $platform.class.Name
  
  #set ($outFile = "$database.FileName")
  #if (!$outFile.toLowerCase().endsWith('.sql'))
    #set ($outFile = "${outFile}.sql")
  #end

  SQL file to be created: $outFile
  
  #foreach ($tbl in $database.tables)
    Primary Key:#if ($tbl.hasPrimaryKey()) Yes #else No #end
    #if (!$tbl.isSkipSql())
      $generator.parse($fname,$outFile,"table",$tbl)
    #end
  #end
    
  #foreach ($tbl in $database.tables)
    #if (!$tbl.isSkipSql())
      $generator.parse($fnamekeys,$outFile,"tablefk",$tbl)
    #end
  #end    

  #if ($idmodel)

    Creating id-table

    #set ($tbl = $idmodel.getTable("ID_TABLE"))
    $generator.parse($fname,$outFile,"table",$tbl)
 
    ## Generate inserts into ID-TABLE for initial ids.
    #set ( $initialID = 1 )  
    $generator.parse($idname, $outFile, "tables", $database.tables)

  #end

#end
