#set ( $database = $dataModel.database )

<?xml version="1.0" encoding="UTF-8"?>

<!-- defining entities for include-files -->
<!DOCTYPE MappingRepository SYSTEM "repository.dtd" [
#foreach ($dataModel in $dataModels)
<!ENTITY $dataModel.shortName SYSTEM "repository_${dataModel.shortName}.xml">
#end
]>

<MappingRepository>
<!-- The Default JDBC Connection. If a Class does not specify its own JDBC Connection,
     the Connection specified here will be used. -->

  <JdbcConnectionDescriptor id="default">
    <dbms.name>Hsqldb</dbms.name>
    <driver.name>${databaseDriver}</driver.name>
    <url.protocol>jdbc</url.protocol>
    <url.subprotocol>hsqldb</url.subprotocol>
    <url.dbalias>../OJB</url.dbalias>
    <!--url.dbalias>ojb-1-0/build/test/OJB</url.dbalias-->
    <user.name>${databaseUser}</user.name>
    <user.passwd>$!{databasePassword}</user.passwd>
  </JdbcConnectionDescriptor>

  <!-- include mappings here -->
#foreach ($dataModel in $dataModels)
  ${dataModel.shortName};
#end
</MappingRepository>
