#foreach ($col in $table.Columns)
    #set ( $type = $col.Domain.SqlType )
    #if ($type == "INT" || $type == "TEXT")
      #set ( $size = "" )
    #else   
      #set ( $size = $col.printSize() )
    #end
    #set ( $entry = "$col.Name $type $size $col.DefaultSetting $col.NotNullString $col.AutoIncrementString," )
    $strings.sub($strings.collapseSpaces($entry)," ,",",")
#end
