#foreach ($col in $table.Columns)
    #set ( $type = $dbprops.get($col.Type) )
    #set ( $size = $col.printSize() )
    #set ( $default = $col.DefaultSetting )
    #set ( $entry = "$col.Name $type $size $default $col.NotNullString," )
    $strings.sub($strings.collapseSpaces($entry)," ,",",")
#end
