#set ( $basepath = $generator.OutputPath)

#foreach ($dataModel in $dataModels)

  #if ($outputFormat=="html")
    #set ( $outFile = "${dataModel.FileName}.html" )
  #else
    #set ( $outFile = "${dataModel.FileName}.xml" )
  #end

  File to be created: $outFile

  $generator.parse("doc/$outputFormat/datamodel.vm",$outFile,"dataModel",$dataModel)
#end
