#set ( $mrname = "ojb/repository/MainRepository.vm" )
#set ( $rname = "ojb/repository/Repository.vm" )
#set ( $basepath = $generator.OutputPath)

#foreach ($database in $dataModels)
    #if($velocityCount==1)
        $generator.parse("ojb/repository/MainRepository.vm","repository.xml","database",$database)
    #end
#end

#foreach ($database in $dataModels)
    #if ($project)
        #set ( $outFile = "repository_${database.Name}.xml" )
  	#set ( $modelCount = $velocityCount )

  	File to be created: $outFile	
	$generator.parse($rname,$outFile,"database",$database)
    #end 
#end
