#set ($db = $table.Database)
#if ($db.Package)
    #set ($package = $db.Package)
#else
    #set ($package = $targetPackage)
#end
package ${package};

#if ($table.BaseClass == "")
    #set ($extendsBaseClass = "" )
#else
    #set ($extendsBaseClass = "extends $table.BaseClass" )
#end

#if ($table.Interface == "")
    #set ($interface = "Serializable" )
#else
    #set ($interface = "Serializable, $table.Interface" )
#end

import java.io.Serializable;

/**
 * $table.Name
 *
 * [$now]
 */
public class $table.JavaName $extendsBaseClass
        implements $interface
{

    #foreach ($col in $table.Columns)
    private $col.JavaPrimitive $col.Name.toLowerCase() = null;
    #end

    #foreach ($col in $table.Columns)
        #set ( $cfc=$col.JavaName )
        #set ( $clo=$col.Name.toLowerCase() )
        #set ( $cjtype = $col.JavaPrimitive )

    /**
     * Get the $cfc
     * @return $cjtype
     */
    public $cjtype get${cfc}()
    {
        return $clo;
    }

    /**
     * Set the value of $cfc
     */
    public void set${cfc}($cjtype v )
    {
        this.$clo = v;
    }

    #end
}
