import org.apache.commons.collections.map.IdentityMap;
import java.util.Iterator;
import ${pkbean}.${table.JavaName}${beanSuffix};
#if ($complexObjectModel)
  ## foreign keys
  #foreach ($fk in $table.ForeignKeys)
    #set ( $tblFK = $table.Database.getTable($fk.ForeignTableName) )
    #set ( $className = "${tblFK.JavaName}" )
import ${pkbean}.${className}${beanSuffix};
  #end
    
  #if ($objectIsCaching)
    #foreach ($fk in $table.Referrers)
      #set ( $tblFK = $fk.Table )
      #if ( !($tblFK.Name.equals($table.Name)) )
        #set ( $className = $tblFK.JavaName )
import ${pkbean}.${className}${beanSuffix};
      #end
    #end
  #end
#end
