#set ($basePath = $generator.OutputPath)

#foreach ($database in $dataModels)

    #if ($database.Package)
      #set ($package = $database.Package)
    #else
      #set ($package = $targetPackage)
    #end

    #set ( $path = $strings.getPackageAsPath($package) )
    $files.mkdir("$outputDirectory/$path")

    #foreach ($tbl in $database.Tables)
      #if (!$tbl.isForReferenceOnly())
        $tbl.Name
        #set ( $firstcap=$tbl.JavaName )

        #set ( $fname = "${firstcap}.java" )
        #set ( $path = "${strings.getPackageAsPath($package)}$fname" )
        #if (!$files.file($basePath,$path).exists())
          $generator.parse("ojb/model/Object.vm",$path,"table",$tbl)
        #end

        #set ( $fname = "${basePrefix}${firstcap}.java" )
        #set ( $path = "${strings.getPackageAsPath($package)}$fname" )
        $generator.parse("ojb/model/BaseObject.vm",$path,"table",$tbl)
        
        #set ( $fname = "${firstcap}Manager.java" )
        #set ( $path = "${strings.getPackageAsPath($package)}$fname" )
        #if (!$files.file($basePath,$path).exists())
          $generator.parse("ojb/model/Manager.vm",$path,"table",$tbl)
        #end
        
        #set ( $fname = "${basePrefix}${firstcap}Manager.java" )
        #set ( $path = "${strings.getPackageAsPath($package)}$fname" )
        $generator.parse("ojb/model/BaseManager.vm",$path,"table",$tbl)
      #end
    #end
#end
